<demo-app-main [isRenewing]="authService.isRenewing$ | async"
               [isAuthenticated]="authService.isAuthenticated$ | async"
               (login)="authService.login()"
               (logout)="authService.logout('/')"
               (silentRenew)="authService.renew()">
    <app-playground tabLabel="Playground"></app-playground>
    <demo-app-debug tabLabel="Debug"
                    [isAuthenticated]="authService.isAuthenticated$ | async"
                    [userProfile]="authService.userProfile$ | async"
                    [userSession]="authService.userSession$ | async"
                    [idToken]="authService.idToken$ | async"
                    [idTokenDecoded]="authService.idTokenDecoded$ | async"
                    [accessToken]="authService.accessToken$ | async"
                    [accessTokenDecoded]="authService.accessTokenDecoded$ | async">
    </demo-app-debug>
    <demo-app-settings tabLabel="Settings"></demo-app-settings>
</demo-app-main>
