:host {
    .card.routes {
        margin-top: 20px;

        .route {
            display: flex;
            align-items: center;

            &.query-params {
                margin: 10px 0 10px 24px;

                input {
                    width: 500px;
                }
            }

            button {
                padding: 2px 10px;
                min-width: 104px;
                margin: 8px 12px 8px 8px;
            }

            input {
                margin: 0 2px;
                padding: 4px;
            }

            .info {
                padding-bottom: 2px;
                font-size: 14px;
                line-height: 22px;
                text-align: left;
                color: #0000008a;
            }
        }

        .box {
            height: 100px;
        }
    }

    @media only screen and (max-width: 600px) {
        .card.routes {
            margin-top: 12px;

            .route {
                &.query-params {
                    margin: 14px 0 10px 10px;

                    .info {
                        width: 100%;
                        input {
                            width: 70%;
                        }
                    }
                }

                #roles-input {
                    width: 90%;
                }
            }
        }
    }
}
