{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "plugins": [
        "prettier-plugin-multiline-arrays"
    ],
    "multilineArraysWrapThreshold": 1,
    "singleQuote": true,
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "auto",
    "trailingComma": "none",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "never"
}
