[class^="navbarSearchContainer"] {
    padding: 0 !important;
}

[class^="navbarSearchContainer"] input.navbar__search-input {
    outline: none;
    height: 36px;
    font-size: 15px;
}
[data-theme="light"] [class^="navbarSearchContainer"] input.navbar__search-input {
    color: #1c1e21;
}
[data-theme="light"] [class^="navbarSearchContainer"] input.navbar__search-input::placeholder {
    color: #606770;
}
[data-theme="dark"] [class^="navbarSearchContainer"] input.navbar__search-input {
    color: white;
}
[data-theme="dark"] [class^="navbarSearchContainer"] input.navbar__search-input::placeholder {
    color: white;
}
[class^="navbarSearchContainer"] input.navbar__search-input:hover,
[class^="navbarSearchContainer"] input.navbar__search-input:focus {
    box-shadow: inset 0 0 0 2px var(--ifm-color-primary);
    transition: box-shadow 150ms ease;
    cursor: text;
}
