:host {
    header {
        display: flex;
        align-items: center;
        background-color: #673ab7;
        height: 64px;

        .title {
            color: white;
            font-size: 28px;
            font-weight: 400;
            padding: 0 12px;
        }
    }

    .content {
        .subtitle {
            margin-left: 14px;
        }

        .info {
            display: flex;
            flex-direction: column;
            margin: 16px;

            .title {
                min-width: 130px;
            }

            .value {
                margin-top: 6px;
                color: #673ab7;
                overflow-x: auto;
                white-space: pre-wrap;
                word-wrap: break-word;
            }

            code {
                width: 100%;
            }
        }

        .cards {
            display: flex;
            flex-direction: column;

            .card {
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                    0 1px 3px 0 rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                background-color: white;
                width: 100%;
                margin: 12px 0;

                .card-actions {
                    text-align: left;
                }

                .card-title {
                    padding: 16px;
                    font-size: 20px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.87);
                }

                .card-actions {
                    text-align: center;
                    button {
                        margin: 8px;
                    }
                    input {
                        width: 90%;
                    }
                }

                .box {
                    height: 200px;
                    border-top: 1px solid lightgray;
                    word-break: break-all;
                    overflow: auto;
                    background-color: #f2f2f2;
                    padding: 12px;

                    pre {
                        margin: 0;
                    }
                }
            }
        }

        @media only screen and (min-width: 600px) {
            .info {
                flex-direction: row;

                .value {
                    margin: 0;
                }

                code {
                    width: 80%;
                }
            }

            .cards {
                flex-direction: row;

                .card {
                    margin: 12px;

                    &.login {
                        min-width: 350px;
                        width: 350px;
                    }

                    &.routes {
                        min-width: 400px;
                        width: 400px;
                    }

                    &.apis {
                        min-width: 500px;
                        width: 500px;
                        .card-actions {
                            input {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
