/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: var(--safe-area-inset-top) 0 var(--safe-area-inset-bottom) 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
}

:root {
    /* iOS Safari 11.2, Safari 11 */
    @supports (top: constant(safe-area-inset-top)) {
        --safe-area-inset-top: constant(safe-area-inset-top);
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    }

    /* iOS Safari 11.4+, Safari 11.1+, Chrome 69+, Opera 56+ */
    @supports (top: env(safe-area-inset-top)) {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
    }
}
