/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.flex {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: white;
    margin: 12px 6px;
}

input {
    color: #5e35b1;
    padding: 10px;
    border: 1px solid #0000001f;
    border-radius: 4px;
    font-size: 14px;
    &.error {
        border-color: #f44336;
    }
    &[type="checkbox"] {
        margin-right: 10px;
    }
}

select {
    color: #5e35b1;
    padding: 8px 6px;
    border: 1px solid #0000001f;
    border-radius: 4px;
}
