:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 28px;

    ::ng-deep {
        .json-key {
            color: rgb(124, 77, 255);
        }
        .json-value {
            color: rgb(67, 122, 237);
        }
        .json-string {
            color: rgb(83, 160, 83);
        }
        .json-date {
            color: rgb(200, 56, 198);
        }
    }

    .info {
        margin: 16px;

        .title {
            min-width: 130px;
        }

        .value {
            overflow-x: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        code {
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 6px 0;

        .card {
            border-radius: 0;
            margin: 0;
            &.routes {
                margin-bottom: 12px;
            }
        }
    }
}
