<div class="card">
    <div class="info column">
        <div class="title">Authenticated</div>
        <code>
        <pre class="value json-value">{{ (isAuthenticated$ | async) || false }}</pre>
    </code>
    </div>

    <div *ngIf="(userSession$ | async) as userSession"
         class="info column">
        <div class="title">User session</div>
        <code>
            <pre class="value" [innerHtml]="userSession | prettyPrint:['expires_at']"></pre>
        </code>
    </div>

    <div *ngIf="(accessToken$ | async) as accessToken"
         class="info column">
        <div class="title">Access token</div>
        <code>
            <pre class="value json-value">{{ accessToken }}</pre>
            <ng-container *ngIf="(accessTokenDecoded$ | async) as accessTokenDecoded">
                <pre class="value" [innerHtml]="accessTokenDecoded | prettyPrint:['exp', 'iat', 'auth_time']"></pre>
            </ng-container>
        </code>
    </div>

    <div *ngIf="(idToken$ | async) as idToken"
         class="info column">
        <div class="title">Id token</div>
        <code>
            <pre class="value json-value">{{ idToken }}</pre>
            <ng-container *ngIf="(idTokenDecoded$ | async) as idTokenDecoded">
                <pre class="value" [innerHtml]="idTokenDecoded | prettyPrint:['exp', 'iat', 'auth_time']"></pre>
            </ng-container>
        </code>
    </div>

    <div *ngIf="(userProfile$ | async) as userProfile"
         class="info column">
        <div class="title">User profile</div>
        <code>
            <pre class="value" [innerHtml]="userProfile | prettyPrint"></pre>
        </code>
    </div>
</div>
