:host {
    header {
        position: sticky;
        top: 0;
        align-items: center;
        padding-top: 16px;
        color: white;
        background: rgb(103, 58, 183);
        background: linear-gradient(180deg, rgba(103, 58, 183, 1) 0%, rgba(94, 53, 177, 1) 100%);
        box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

        .title {
            align-items: center;
            margin-bottom: 22px;
            font-size: 28px;
            font-weight: 400;
            color: #ede7f6;

            &.authenticated {
                &::before {
                    background-color: #66bb6a;
                }
            }

            &::before {
                display: block;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #ef5350;
                margin-top: 1px;
                margin-right: 8px;
            }

            b {
                margin-right: 8px;
            }
        }

        .checkbox {
            margin-right: 30px;
        }

        button {
            margin-top: 2px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .tabs {
            width: 100%;
            margin-top: 16px;
            padding: 10px 0;
            padding-left: 68px;

            a {
                cursor: pointer;
                color: white;
                padding: 8px 16px;
                border-radius: 4px;
                transition: background-color 150ms cubic-bezier(0.35, 0, 0.25, 1);
                &.selected {
                    background-color: #512da8;
                }
                &:hover {
                    background-color: #4527a0;
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .github-icon {
            position: absolute;
            top: 20px;
            right: 22px;
            width: 26px;
            height: 26px;
            color: white;
        }
    }

    .playground {
        display: flex;
        flex: 1;
        padding: 20px 28px;

        .card {
            &.routes {
                margin-bottom: 20px;

                .route {
                    display: flex;
                    align-items: center;

                    button {
                        padding: 2px 10px;
                        min-width: 104px;
                        margin: 8px 12px 8px 8px;
                    }

                    input {
                        margin: 0 2px;
                        padding: 4px;
                    }

                    .info {
                        padding-bottom: 2px;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: left;
                        color: #0000008a;
                    }
                }

                .box {
                    height: 100px;
                }
            }

            &.apis {
                .card-actions {
                    padding-bottom: 16px;
                    button {
                        margin-left: 14px;
                    }
                }
            }

            .card-title {
                padding: 16px;
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.87);
            }

            .card-actions {
                padding: 0 14px 8px 14px;
                min-height: 50px;

                .input {
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                    label {
                        width: 125px;
                        text-align: right;
                        margin-right: 14px;
                    }
                    input {
                        padding: 4px;
                    }
                }
            }

            .box {
                height: 200px;
                border-top: 1px solid lightgray;
                word-break: break-all;
                overflow: auto;
                background-color: #f2f2f2;
                padding: 12px;

                pre {
                    margin: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        header {
            .tabs {
                padding-left: 0;
                justify-content: center;
                background-color: #7043bf;
            }
        }

        .playground {
            padding: 6px 0;

            .card {
                border-radius: 0;
                margin: 0;
                &.routes {
                    margin-bottom: 12px;
                }
            }
        }
    }

    /* @media only screen and (min-width: 600px) {
        .info {
            flex-direction: row !important;
            align-items: center;

            .title {
                align-self: flex-start;
            }
            .value {
                margin: 0;
            }
            code {
                width: 88% !important;
            }
        }

        .cards {
            flex-direction: row !important;
            padding: 10px;

            .card {
                margin: 12px;

                &.routes {
                    min-width: 400px;
                    width: 400px;
                }

                &.apis {
                    min-width: 600px;
                    width: 600px;
                    .card-actions {
                        input {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }*/
}
