name: Test ngx-auth

on:
    workflow_dispatch:
    repository_dispatch:
        types: [test_ngx-auth]
    push:
        branches:
            - '**'
        tags-ignore:
            - '**'
        paths:
            - '.github/workflows/ci_test_ngx-auth.yml'
            - 'libs/ngx-auth/**'

env:
    HUSKY: 0

concurrency:
    group: ci-test-ngx-auth-group-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci_test_ngx-auth:
        uses: badisi/actions/.github/workflows/action.yml@v4
        with:
            working-directory: libs/ngx-auth
            runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            node-versions: '[22]'
            lint: true
            test: true
